<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <security>
       <requestFiltering>
           <requestLimits maxAllowedContentLength="104857600" />
       </requestFiltering>
    </security>

    <serverRuntime uploadReadAheadSize="104857600" />
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>

    <httpPlatform
        processPath="C:\Users\admin\AppData\Local\Programs\Python\Python314\python.exe"
        arguments="C:\inetpub\wwwroot\rulebook\startpage.py"
        stdoutLogEnabled="true"
        stdoutLogFile="C:\inetpub\wwwroot\rulebook\logs\python.log"
        startupTimeLimit="60"
        requestTimeout="00:10:00">

      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>

    </httpPlatform>

  </system.webServer>
</configuration>